<div class="home-container">
    <div class="col whitelist-col">
        <div class="title">
            Whitelist
        </div>
        <ul>
            <li class="test-links" ui-sref="testing.cases({ params : 'whitelist-VariableDeclaration' })">
                Variable Declaration
            </li>
            <li class="test-links" ui-sref="testing.cases({ params : 'whitelist-VariableDeclaration-IfStatement' })">
                Variable Declaration, If Statement
            </li>
            <li class="test-links" ui-sref="testing.cases({ params : 'whitelist-ArrayExpression' })">
                Array Expression
            </li>
            <li class="test-links" ui-sref="testing.cases({ params : 'whitelist-ArrayExpression-VariableDeclaration' })">
                Array Expression, Variable Declaration
            </li>
            <li class="test-links" ui-sref="testing.cases({ params : 'whitelist-ArrayExpression-VariableDeclaration-IfStatement' })">
                Array Expression, Variable Declaration, If Statement
            </li>
            <li class="test-links" ui-sref="testing.cases({ params : 'whitelist-WhileStatement' })">
                While Statement
            </li>
            <li class="test-links" ui-sref="testing.cases({ params : 'whitelist-WhileStatement-ForInStatement' })">
                While Statement, For In Statement
            </li>
            <li class="test-links" ui-sref="testing.cases({ params : 'whitelist-ForInStatement-ForStatement' })">
                For In Statement, For Statement
            </li>
        </ul>
    </div>
    <div class="col blacklist-col">
        <div class="title">
            Blacklist
        </div>
        <ul>
            <li class="test-links" ui-sref="testing.cases({ params : 'blacklist-VariableDeclaration' })">
                Variable Declaration
            </li>
            <li class="test-links" ui-sref="testing.cases({ params : 'blacklist-VariableDeclaration-IfStatement' })">
                Variable Declaration, If Statement
            </li>
            <li class="test-links" ui-sref="testing.cases({ params : 'blacklist-ArrayExpression' })">
                Array Expression
            </li>
            <li class="test-links" ui-sref="testing.cases({ params : 'blacklist-ArrayExpression-VariableDeclaration' })">
                Array Expression, Variable Declaration
            </li>
            <li class="test-links" ui-sref="testing.cases({ params : 'blacklist-ArrayExpression-VariableDeclaration-IfStatement' })">
                Array Expression, Variable Declaration, If Statement
            </li>
            <li class="test-links" ui-sref="testing.cases({ params : 'blacklist-WhileStatement' })">
                While Statement
            </li>
            <li class="test-links" ui-sref="testing.cases({ params : 'blacklist-WhileStatement-ForInStatement' })">
                While Statement, For In Statement
            </li>
            <li class="test-links" ui-sref="testing.cases({ params : 'blacklist-ForInStatement-ForStatement' })">
                For In Statement, For Statement
            </li>
        </ul>
    </div>
    <div class="col last structure-col">
        <div class="title">
            Structure
        </div>
        <ul>
            <li class="test-links" ui-sref="testing.cases({ params : 'structure-whileInFor' })">
                "While" in "For In" loop
            </li>
            <li class="test-links" ui-sref="testing.cases({ params : 'structure-ifInForLoop' })">
                "If" statement in "Foor" loop
            </li>
            <li class="test-links" ui-sref="testing.cases({ params : 'structure-whileInIfInForLoop' })">
                "While" loop in "If" statement in "For" loop
            </li>
        </ul>
    </div>
</div>